n8n-horoscope-generation-workflow.json
{
  "name": "Horoscope Generation Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "horoscope-generation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "horoscope-generation-webhook"
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.9,
          "responseFormat": {
            "type": "json_object"
          },
          "maxTokens": 600
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a witty horoscope transformer. You take traditional horoscopes and make them irreverent and fun in the style of Co-Star. You always return valid JSON."
            },
            {
              "role": "user",
              "content": "=Transform this horoscope from Cafe Astrology into the irreverent, silly style of Co-Star. Make it witty, slightly sarcastic, and fun. Keep the core meaning but make it more casual and entertaining.\n\nOriginal horoscope for {{ $json['starSign'] }}:\n{{ $json['cafeAstrologyText'] }}\n\nReturn a JSON object with this exact structure:\n{\n  \"horoscope\": \"An irreverent, expanded version of the horoscope in Co-Star's style. Make it approximately 150 words. Keep it witty, casual, and entertaining while expanding on the themes from the original. Break it into multiple paragraphs for readability.\",\n  \"dos\": [\"Do thing 1\", \"Do thing 2\", \"Do thing 3\"],\n  \"donts\": [\"Don't thing 1\", \"Don't thing 2\", \"Don't thing 3\"]\n}\n\nMake the do's and don'ts silly, specific, and related to the horoscope content. They should be funny and slightly absurd but still relevant."
            }
          ]
        }
      },
      "id": "text-transformation",
      "name": "OpenAI Text Transformation",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [460, 200],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      },
      "continueOnFail": false
    },
    {
      "parameters": {
        "jsCode": "// Parse OpenAI response - extract JSON from choices[0].message.content\nconst openAiOutput = $input.item.json;\nlet textResult = openAiOutput;\n\n// Extract content from OpenAI response structure\nif (openAiOutput.choices && openAiOutput.choices[0] && openAiOutput.choices[0].message) {\n  textResult = openAiOutput.choices[0].message.content;\n}\n\n// Parse JSON if it's a string\nlet parsedText = textResult;\nif (typeof textResult === 'string') {\n  try {\n    parsedText = JSON.parse(textResult);\n  } catch (e) {\n    // If parsing fails, try to extract JSON from text\n    const jsonMatch = textResult.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      parsedText = JSON.parse(jsonMatch[0]);\n    } else {\n      throw new Error('Could not parse text transformation response as JSON');\n    }\n  }\n}\n\n// Validate structure\nif (!parsedText.horoscope || !Array.isArray(parsedText.dos) || !Array.isArray(parsedText.donts)) {\n  throw new Error('Invalid response format from OpenAI text transformation');\n}\n\n// Store text result and pass through original webhook data for image generation\nreturn {\n  json: {\n    horoscope: parsedText.horoscope,\n    dos: parsedText.dos,\n    donts: parsedText.donts,\n    imagePrompt: $('Webhook').item.json.imagePrompt,\n    slots: $('Webhook').item.json.slots,\n    reasoning: $('Webhook').item.json.reasoning\n  }\n};"
      },
      "id": "parse-text-result",
      "name": "Parse Text Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "create",
        "model": "dall-e-3",
        "prompt": "={{ $json['imagePrompt'] }}",
        "options": {
          "size": "1024x1024",
          "quality": "standard",
          "n": 1
        }
      },
      "id": "image-generation",
      "name": "OpenAI Image Generation",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [460, 400],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      },
      "continueOnFail": false
    },
    {
      "parameters": {
        "jsCode": "// This node receives merged data from both Parse Text Result and OpenAI Image Generation\n// The Merge node combines them, so we get both in $input.all()\n\n// Get all input items from the merge (should be 2: one from text path, one from image path)\nconst inputItems = $input.all();\n\n// Find text result (from Parse Text Result node)\nlet textResult = null;\nlet imageOutput = null;\n\nfor (const item of inputItems) {\n  const data = item.json;\n  // Text result has horoscope, dos, donts properties\n  if (data.horoscope && data.dos && data.donts) {\n    textResult = data;\n  }\n  // Image output - could be file object (mimeType, fileType) or API response\n  else if (data.mimeType || data.fileType || data.data || data.url || data.response || (data.choices === undefined && !data.horoscope)) {\n    imageOutput = data;\n  }\n}\n\nif (!textResult) {\n  throw new Error('Failed to get text result. Make sure Parse Text Result node completed successfully.');\n}\n\nif (!imageOutput) {\n  throw new Error('Failed to get image output. Make sure OpenAI Image Generation node completed successfully.');\n}\n\n// Extract image URL from OpenAI response\n// With return URL enabled, OpenAI should return: { data: [{ url: '...' }] }\nlet imageUrl = null;\n\n// Standard OpenAI API response format: { data: [{ url: '...' }] }\nif (imageOutput.data && Array.isArray(imageOutput.data) && imageOutput.data[0] && imageOutput.data[0].url) {\n  imageUrl = imageOutput.data[0].url;\n}\n// Fallback: direct url property\nelse if (imageOutput.url) {\n  imageUrl = imageOutput.url;\n}\n// If it's a file object (has mimeType, fileType, etc.), check binary data for URL\nelse if (imageOutput.mimeType || imageOutput.fileType) {\n  console.error('❌ Image was downloaded as file object. Checking binary data for URL...');\n  \n  // Check if we can get the URL from the binary data metadata\n  const imageItem = inputItems.find(item => item.json.mimeType || item.json.fileType || (!item.json.horoscope && !item.json.dos));\n  if (imageItem && imageItem.binary) {\n    const binaryKeys = Object.keys(imageItem.binary);\n    if (binaryKeys.length > 0) {\n      const binaryData = imageItem.binary[binaryKeys[0]];\n      // Check various possible locations for URL in binary metadata\n      if (binaryData && binaryData.meta && binaryData.meta.url) {\n        imageUrl = binaryData.meta.url;\n        console.log('✅ Found image URL in binary metadata');\n      } else if (binaryData && binaryData.data && binaryData.data.url) {\n        imageUrl = binaryData.data.url;\n        console.log('✅ Found image URL in binary data');\n      }\n    }\n  }\n}\n\nif (!imageUrl) {\n  // Log the actual structure for debugging\n  console.error('Failed to extract image URL. Response structure:', Object.keys(imageOutput));\n  console.error('Full response:', JSON.stringify(imageOutput, null, 2));\n  // Also check the full item structure\n  const imageItem = inputItems.find(item => item.json.mimeType || item.json.fileType || (!item.json.horoscope && !item.json.dos));\n  if (imageItem) {\n    console.error('Full image item:', JSON.stringify(imageItem, null, 2));\n  }\n  throw new Error('Failed to extract image URL from OpenAI response. The image was downloaded as a file object without URL metadata. Please ensure Return URL is enabled in the OpenAI Image Generation node settings, or add a Code node after the OpenAI Image Generation node to extract the URL before it gets converted to a file.');\n}\n\n// Get original webhook data for slots and reasoning from the text result\n// (The text result should have this data passed through from Parse Text Result node)\nconst webhookData = {\n  imagePrompt: textResult.imagePrompt,\n  slots: textResult.slots,\n  reasoning: textResult.reasoning\n};\n\n// Combine all results\nreturn {\n  json: {\n    horoscope: textResult.horoscope,\n    dos: textResult.dos,\n    donts: textResult.donts,\n    imageUrl: imageUrl,\n    prompt: webhookData.imagePrompt,\n    slots: webhookData.slots,\n    reasoning: webhookData.reasoning\n  }\n};"
      },
      "id": "combine-results",
      "name": "Combine Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI Text Transformation",
            "type": "main",
            "index": 0
          },
          {
            "node": "OpenAI Image Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Text Transformation": {
      "main": [
        [
          {
            "node": "Parse Text Result",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Text Result": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Image Generation": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Combine Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Results": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

